{
  "openapi": "3.1.0",
  "info": {
    "title": "Files.js.gripe API",
    "version": "1.0.0",
    "description": "Protected file upload, sharing, and administration API. Public /files and /files/raw links may be fetched directly; protected APIs, dashboards, upload results, setup, and admin pages are not crawl targets. Uploads use the R2 direct-upload flow: POST /api/upload/r2/init, PUT to returned presigned R2 URL(s), then POST /api/upload/r2/complete. The legacy POST /api/upload endpoint is retired."
  },
  "servers": [
    {
      "url": "https://files.js.gripe"
    }
  ],
  "paths": {
    "/healthz": {
      "get": {
        "summary": "Health check",
        "responses": {
          "200": {
            "description": "Service health"
          }
        }
      }
    },
    "/api/bootstrap": {
      "get": {
        "summary": "Get public UI bootstrap policy",
        "responses": {
          "200": {
            "description": "Upload limits and account login paths"
          }
        }
      }
    },
    "/auth/account/start": {
      "get": {
        "summary": "Start Account.js.gripe sign-in",
        "responses": {
          "302": {
            "description": "Redirect to Account.js.gripe"
          }
        }
      }
    },
    "/api/account/me": {
      "get": {
        "summary": "Get current file-service account session",
        "responses": {
          "200": {
            "description": "Current user and myfiles permissions"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/upload/r2/init": {
      "post": {
        "summary": "Create an R2 direct-upload session and presigned URLs",
        "description": "Send file descriptors with clientId, name, size, type, and optional sha256. Anonymous uploads may be accepted when policy allows them; otherwise this endpoint returns 401.",
        "responses": {
          "200": {
            "description": "Upload session, file ids, and presigned PUT or multipart part URLs"
          },
          "401": {
            "description": "Authentication required when anonymous uploads are disabled"
          },
          "413": {
            "description": "Upload too large"
          }
        }
      }
    },
    "/api/upload/r2/complete": {
      "post": {
        "summary": "Complete an R2 direct-upload session",
        "description": "After each file or multipart part has been uploaded to the returned presigned R2 URL(s), send uploadId plus file records containing clientId, fileId, etag, and multipart parts when applicable.",
        "responses": {
          "200": {
            "description": "Upload batch result with pickup code"
          },
          "400": {
            "description": "Missing or incomplete uploaded parts"
          },
          "404": {
            "description": "Upload session expired or not found"
          }
        }
      }
    },
    "/api/upload/r2/cancel": {
      "post": {
        "summary": "Abort an unfinished R2 direct-upload session",
        "description": "Cancel a previously initialized direct-upload session before it is completed.",
        "responses": {
          "200": {
            "description": "Upload session cancelled"
          }
        }
      }
    },
    "/api/files": {
      "get": {
        "summary": "List files owned by the current user",
        "responses": {
          "200": {
            "description": "File list"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/file/{id}/info": {
      "get": {
        "summary": "Get metadata for an explicitly public file link",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Public file metadata"
          },
          "404": {
            "description": "File not public or not found"
          }
        }
      }
    }
  }
}
